<h1>Editing User</h1>

<%= render 'form', user: @user, allow_admin_code: false, allow_email: false, allow_password: false, 
allow_confirm_password: false, create_account: false, update_account: true%>

<%= link_to 'Back', :back %>
